<a href="/">Home</a>

<div class="block text-center">
  <div class="container-fluid">
    <h2 class="m-b-md">
      Log-In and start debugging!
    </h2>
    <form class="form-block" action="/logins/create" method="post" style="margin :5 500px">
      <input class="form-control m-b" name="email" placeholder="email address">
      <input class="form-control m-b" name="password" type="password" placeholder="Create a Password">
      <button class="btn btn-primary m-b">Log-In</button>
    </form>
  </div>
</div>
<div class="block block-bordered text-center">
  <div class="container-fluid">
   <blockquote class="pull-quote">
      <p>
        “Helping Debug your code more efficiently - Because your time is valuable.”
      </p>
      