<h3>Please Log In</h3>

<form action="/logins/create" method="post">
    Email:<br>
    <input type = "text" name = "email" value = "">
    <br>
    Password:<br>
    <input type = "text" name = "password" value = "">
    <br><br>
    <input type = "submit">

</form>

<br><br>

New User? Sign up <a href="/users/new">Here!</a><br>

<br>

<a href="/">Home</a>