<h3>Please Log In</h3>

<form action="login_user" method="post">
  <p>
    Name:
    <input type = "text" name = "name" value = "">
    </p>
    <p>
    Email:
    <input type = "text" name = "email" value = "">
    </p>
    <p>
    Password:
    <input type = "text" name = "password" value = "">
    </p>
  <input type = "submit">

</form>

<br><br>

New User? Sign up <a href="/users/new">Here!</a>