
<form action="/users/<%=@user.id%>/update" method="post">
  <p>
    Name:
    <input type = "text" name = "edit_name" value = "<%= @user.name %>">
    </p>
    <p>
    Email
    <input type = "text" name = "edit_email" value = "<%= @user.email %>">
    </p>
    Password
    <input type = "text" name = "edit_password" value = "<%= @user.password %>">
    </p>
  <input type = "submit">

</form>