<table border="1">
  <thead>
    <tr>
      <div class="container">
      <div class="block text-center">
      <h1 class="block-title">User List</h1>
      <h4 class="text-muted">Edit and delete users</h4>
    </tr>
  </thead>
<div class="container">
<table class="table">
  <tbody>
    <% @users.each do |a|%>
      <tr>
        <td><%=a.name%></td>
        <td>
          <form action="/users/<%=a.id%>/edit">
            <input type="submit" value="Edit">
          </form>
        </td>
        <td>
          <form action="/users/<%=a.id%>/delete" method="post">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br><br>

<a href="/errors/new">Decoder Your Error!</a><br>

<a href="/">Home</a>