
<table border="1">
    <tr>
      <th>Users</th>
      

    </tr>
  </thead>

  <tbody>
  <%= @users.each do |a|%>
      <tr>
        <td>a.name</td>
 

        <% end %>
    
        
      </tr>
    
  </tbody>
</table>