<h1>ArgumentError</h1>
ArgumentError

This error means that you're calling a valid method; but that methods expects a certain number of inputs, which you are not providing.

Solution

Go to where the method is defined. If the method is built into a Ruby class (like methods for Array), then go to the Ruby Array Documentation.

Once you've found the method, read about how it should be used. Compare that with how you're using it.