<h1>NameError</h1>

<p>This usually means you’re calling a method that doesn’t exist or a variable that doesn't exist.</p>

<h2>Helpful Error Text</h2>

<p>Ruby’s text for these errors is usually very helpful. Let's take a look at what Ruby is telling you about your error:</p>

<p>After going to <strong><%=@error.get_processed_error_input["file"] %></strong> and line number <strong><%=@error.get_processed_error_input["line"] %></strong>, your first job is to figure out why <code><%= @error.get_processed_error_input["problem"] %></code> seems to not exist.</p>

<h3>If it's a method, then...</h3>

<p>tbd...</p>

<h3>If it's not a method but is instead a variable, then...</h3>

<p>tbd...</p>