<h1>Welcome to your Error Decoder!</h1>

<br>

<form action="/errors/create" method="post">
  Paste Your Error Here:<br>
  <input type = "text" name = "error">
  <input type = "submit">
</form>






