<h1>Welcome to your Error Decoder!</h1>

<br>

<form action="/errors/create" method="post">
  Paste Your Error Here:<br>
  <textarea name="error" rows="20" cols="180"></textarea>

  <input type = "submit">
</form>






