<h1>NoMemoryError</h1>

<p>Raised when memory allocation fails.</p>

<h2>Helpful Error Text</h2>

<p>Ruby’s text for these errors is usually very helpful. Let's take a look at what Ruby is telling you about your error:</p>

<p>After going to <strong><%=@error.get_processed_error_input["file"] %></strong> and line number <strong><%=@error.get_processed_error_input["line"] %></strong>, the issue began when the method <code><%= @error.get_processed_error_input["problem"] %></code> was unable to have memory allocated.</p>




<a href="/errors/new">Decode Another Error</a><br>

<a href="/">Home</a>