<h1>Results</h1>

<p>Your Results are as follows:</p>

<p>Error Encountered: <%=@error_name%></p>

<p>
  Error occurred at line: <%=@error.processed_error_input["line"] %>
  In file: <%=@error.processed_error_input["file"] %>
</p> 

