<h1>Results</h1>

<p>Your Results are as follows:</p>

<p>Error Encountered: <%=@error.get_processed_error_input["error_type"]%></p>

<p>
  Error occurred at line: <%=@error.get_processed_error_input["line"] %>
  In file: <%=@error.get_processed_error_input["file"] %>
</p> 

