
<center><h1>TypeError</h1></center>

<p>The problem exists on line <code><%= @error.get_processed_error_input["line"]%></code> of the file <strong><%=@error.get_processed_error_input["file"] %></strong></p>

<p>When you try and do a mathematical operation on two objects of a different type, you will receive a TypeError. For example if you try and add a string to an integer, Ruby will complain.</p>

<center><h3>Solution:</h3></center>

<p>Check the things being operated on in <strong><%=@error.get_processed_error_input["file"] %></strong> on line <strong><%= @error.get_processed_error_input["line"]%> </strong>, and use binding.pry to see what kind of object they are. Remember that the .class method can be used on any object to determine what type of object it is.</p>
