<center>

  <h1>Welcome to the Ruby Error Helper!</h1>

  <p>Please follow the links below in order to get started:</p>

  <br>

  <a href="/logins/new">Login</a> |

  <a href="/users/new">Create an Account</a> |

  <a href="/users">User List</a> |

  <a href="/errors/new">Decode Your Error</a> |

</center>